body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#location-input {
  width: 50%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-right: 10px;
}

#submit-btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#submit-btn:hover {
  background-color: #1e90ff;
  color: white;
}

#output-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sunriset img {
  width: 60%;
}

#sunrise-output, #sunset-output {
  font-size: 20px;
  margin-top: 20px;
}

.sunriset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dataNotAvailable {
  color: red;
  font-weight: bold;
}
